# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
media/

# Static files
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Mac
.DS_Store

# Logs
*.log